.inventory-manager,
.inventory-manager2 {
  background-color: #ffffff; /* Light background */
  color: #333; /* Dark text color */
  min-height: 100vh;
  height: auto;
  padding: 20px;
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
  position: relative;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
  gap: 10px;
  width: 100%;
  max-width: 98%;
}

.button-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 0;
}

.dropdown-container select {
  background-color: #ffffff; 
  color: #333; 
  text-align: center;
  padding: 8px;
  width: 400px;
  max-width: 550px;
  border-radius: 4px;
}

.dropdown-container select option {
  background-color: #ffffff;
  color: rgb(12, 12, 12); 
  text-align: center;
  padding: 8px;
}

.inventory-title {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}

.inventory-subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.copy-btn {
  color: #ffffff; /* Blue for copy button */
}

.btn-add,
.btn-populate {
  background-color: #1ac757; /* Green background */
  color: rgb(16, 16, 16);
  border: none;
  padding: 10px 15px;
  margin: 0px 0px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-add:hover,
.btn-populate:hover {
  background-color: #29d732; /* Darker green for hover */
}

.btn-save {
  background-color: #f44336; /* Red background */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-save:hover {
  background-color: #d32f2f; /* Darker red for hover */
}

.btn-add:disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.ioh-input, .min-qty-input, .tgt-qty-input {
  width: 70px;
  padding: 3px;
  border: 1px solid #ccc; /* Lighter border */
  border-radius: 4px;
  text-align: right;
  font-size: 14px;
}


.table-title {
  text-align: left;
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  margin-left: 5px;
  color: white;
  margin-top: 30px;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

th {
  border-bottom: 1px solid rgb(210, 210, 210);
  font-size: 12px;
  padding: 8px 12px;
  text-align: center;
  background-color: #ececec; 
  color: rgb(31, 31, 31); 
}

td {
  border-bottom: 0.5px solid rgb(230, 228, 228);
  font-size: 12px;
  padding: 8px 12px;
  text-align: center;
  white-space: normal;
  word-break: break-word;
  background-color: #ffffff; 
  font-weight: 400;
  color: #333; 
}

.info-icon {
  color: #007bff; /* Blue icon */
  margin-left: 5px;
  cursor: pointer;
}

.info-icon:hover {
  color: #0056b3; /* Darker blue on hover */
}

.status-cell {
  white-space: normal;
  word-break: break-word;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.status-available {
  color: #18ab1f; /* Green text */
  text-transform: capitalize;
}

.status-stale-data {
  color: #f44336; /* Red text */
  text-transform: capitalize;
}

.status-need-to-reorder {
  color: #f44336; /* Red text */
  text-transform: capitalize;
}

.inventory-manager2.focused::before,
.inventory-manager.focused::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* Lighten overlay */
  z-index: 10;
  pointer-events: none;
}

.inventory-table.focused {
  position: relative;
  z-index: 20;
  padding: 5px 12px;
  border-radius: 10px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  transform: scale(1.05);  
  opacity: 1.8;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.9; 
  z-index: -1;
}
