.inventory-manager {
  /* text-align: center; */
  height: auto;
  background-color: #ececec; 
  color: #333; 
  padding: 20px;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px; 
  padding: 16px;
}

.table-title {
  text-align: left;
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  margin-left: 5px;
  color: white;
  margin-top: 30px;
}

.button-container {
  flex: 1 1 auto;
}

.add-btn {
  background-color: #000000; 
  border: 2px solid rgb(71, 71, 71) !important;
  color: white;
  border: none;
  padding: 15px 20px;
  margin: 0px 0px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* margin-bottom: 15px; */
  /* align-items: flex-end; */
  margin-left: auto;
  margin-right: 0;
}

.dropdown-container select {
  background-color: #ffffff; 
  color: #333; 
  text-align: center;
  padding: 8px;
  width: 400px;
  max-width: 550px;
  border-radius: 4px;
}

.dropdown-container select option {
  background-color: #ffffff;
  color: rgb(12, 12, 12); 
  text-align: center;
  padding: 8px;
}

.inventory-title {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}

.inventory-subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.copy-btn {
  color: #ffffff; /* Blue for copy button */
}

.btn-save {
  background-color: #f44336; /* Red background */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-save:hover {
  background-color: #d32f2f; /* Darker red for hover */
}

.ioh-input, .min-qty-input, .tgt-qty-input {
  width: 70px;
  padding: 8px 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: right;
  font-size: 12.5px;
}

.inventory-table {
  width: 100%;
  overflow-x: auto; 
  display: block;
  max-width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px; 
}

.inventory-table table {
  width: 100%;
  border-collapse: collapse;
  min-width: 900px; 
  table-layout: auto;
}

.inventory-table th {
  background-color: rgb(227, 227, 227);
  color: rgb(33, 33, 33);
  padding: 12px;
  text-align: center;
  font-weight:bold;
  font-size: 14px;
  border-top: 2px solid rgb(211, 211, 211);
  border-bottom: 1px solid rgb(132, 132, 132);
  word-wrap: break-word;
}

.inventory-table td {
  padding: 5px 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
  font-size: 12.5px;
}

.inventory-table tr {
  background-color: #f9f9f9;
}


.status-cell {
  white-space: normal;
  word-break: break-word;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.status-available {
  color: #18ab1f; 
  text-transform: capitalize;
}

.status-stale-data {
  color: #f44336; 
  text-transform: capitalize;
}

.status-need-to-reorder {
  color: #f44336; 
  text-transform: capitalize;
}

.inventory-manager.focused::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.767); 
  z-index: 10;
  pointer-events: none;
}

.inventory-manager.focused {
  position: relative;
  z-index: 20;
  padding: 5px 12px;
  border-radius: 10px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  transform: scale(1.02);  
  opacity: 1.8;
}

.inventory-table.focused {
  background-color: rgb(170, 170, 170);
  font-size: medium;
  color: rgb(30, 30, 30); 
}

/* Responsive adjustments for the table */
@media (max-width: 1024px) {
  .inventory-manager{
    padding: 20px 0px;
  }
  .inventory-table {
    overflow-x: auto;
    display: block;
  }
  .inventory-table table {
    min-width: 100%;
  }
  .inventory-table th {
    font-size: 10px;
    padding: 8px;
  }

  .inventory-table td {
    font-size: 10px;
    padding: 5px 8px;
  }
  
}

@media (max-width: 768px) {
  .add-btn {
    width: 95%;
    padding: 10px 12px;
    font-size: 17px;
  }

  .controls-container{
    gap: 5px;
  }

  .dropdown-container select {
    background-color: #ffffff; 
    color: #333; 
    text-align: center;
    padding: 9px;
    width: 98%;
    max-width: 550px;
    border-radius: 4px;
    border: 2px solid rgb(107, 107, 107) !important;
  }
}