.resource-manager {
  text-align: center;
  height: auto;
  background-color: #ececec; 
  color: #333; 
  padding: 20px;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  margin: 10px;
  padding: 0;
}

.table-title {
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

.add-btn {
  background-color: #0d0d0d; 
  color: white;
  border: none;
  padding: 15px 20px;
  margin: 0px 0px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 5px;
}

.copy-btn,
.edit-btn,
.delete-btn {
  background: #ffffff; 
  border: 1px solid #ccc; 
  font-size: 15px;
  cursor: pointer;
  margin: 1px;
  border-radius: 2px;
  width: 27px; 
  height: 27px; 
}

.copy-btn {
  background: none;
  border: none;
  color: #000000; 
}

.edit-btn {
  color: #000000; 
  padding: 2px 5px;
  border-radius: 5px;
}

.delete-btn {
  color: #f44336; 
  padding: 1.3px 5px;
  border-radius: 5px;
}

.resource-table {
  width: 100%;
  overflow-x: auto; 
  display: block;
  max-width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px; 
  border-radius: 8px;
}

.resource-table table {
  width: 100%;
  border-collapse: collapse;
  min-width: 900px; 
  table-layout: auto;
}

.resource-table th {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 33, 33);
  padding: 12px;
  text-align: center;
  font-weight:bold;
  font-size: 15px;
  border-top: 2px solid rgb(211, 211, 211);
  border-bottom: 2px solid rgb(194, 194, 194);
  white-space: nowrap;
}

.resource-table td {
  padding: 5px 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  font-size: 14px;
}

.resource-table tr {
  background-color: #ffffff;
}

.table-title.focused {
  position: relative;
  z-index: 21;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  transition: background 0.3s ease, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.resource-manager.focused::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.767); 
  z-index: 10;
  pointer-events: none;
}

.resource-table.focused {
  position: relative;
  z-index: 20;
  border-radius: 10px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  opacity: 1.8;
}

.resource-table.focused th {
  background-color: rgb(241, 241, 241);
  font-size: medium;
  color: rgb(30, 30, 30); 
}

/* Responsive adjustments for the table */
@media (max-width: 1024px) {
  .resource-manager{
    padding: 20px 0px;
  }
  .resource-table {
    overflow-x: auto;
    display: block;
    border-radius: 0px;
  }
  .resource-table table {
    min-width: 100%;
  }
  .resource-table th {
    font-size: 12px;
    padding: 8px;
  }

  .resource-table td {
    font-size: 12px;
    padding: 5px 8px;
  }
}

@media (max-width: 768px) {
  .add-btn {
    width: 95%;
    padding: 15px 25px;
    font-size: 16px;
  }
}